Repository ECE651-Group-15/backend, pull requests merged in 2024-03, with the labels that each got.

#97 BE-48: fix the bug to update avatar for customer
  src/main/java/infrastructure/sql/PanacheCustomerProfileRepository.java
Labels: bug

#99 BE-49: add check email endpoint
  src/main/java/domain/profile/CustomerProfileService.java
  src/main/java/infrastructure/CustomerProfileResources.java
  src/main/java/infrastructure/dto/in/profile/CheckEmailDto.java
Labels: task / user story

#101 BE-50: add endpoint to get listing by title
  src/main/java/domain/listing/ListingRepository.java
  src/main/java/domain/listing/ListingService.java
  src/main/java/domain/listing/SearchListing.java
  src/main/java/infrastructure/ListingResources.java
  src/main/java/infrastructure/dto/in/listing/SearchListingDto.java
  src/main/java/infrastructure/sql/PanacheListingRepository.java
Labels: task / user story

#104 Be-51: Added unit test and integration test for check email endpoint
  src/test/java/domain/profile/CustomerProfileServiceTest.java
Labels: test

#102 BE-52: Added unit tests for searchListing and IT for searchListing endpoint
  src/main/java/infrastructure/ListingResources.java
  src/test/java/domain/listing/ListingServiceTest.java
  src/test/java/infrastructure/ListingResourcesIT.java
Labels: test

#109 BE-54: Make the line coverage of ListingService reaches 100%
  src/test/java/domain/listing/ListingServiceTest.java
Labels: test

#107 Be 53: Add endpoint to get completed listings for a customer
  src/main/java/domain/listing/ListingService.java
  src/main/java/infrastructure/CustomerListingResources.java
  src/main/java/infrastructure/dto/out/listing/CompletedListingPageDto.java
Labels: task / user story

#110 BE-55: Completed the CustomerProfileServices to fully cover all lines
  src/test/java/domain/profile/CustomerProfileServiceTest.java
Labels: test

#114 BE-56: Add integration tests for get completed listings for a customer
  src/test/java/infrastructure/CustomerListingResourcesIT.java
Labels: test

#120 BE-61: add endpoint to get full customer details for internal use
  src/main/java/infrastructure/CustomerProfileResources.java
  src/main/java/infrastructure/dto/out/profile/CustomerProfileDetailsInternalDto.java
  src/test/java/infrastructure/CustomerProfileResourcesIT.java
Labels: task / user story

#119 BE-58: Add IT for CustomerListingResources
  src/main/java/infrastructure/CustomerListingResources.java
  src/test/java/infrastructure/CustomerListingResourcesIT.java
  src/test/java/infrastructure/CustomerListingResourcesMockIT.java
Labels: test

#121 BE-59: Fixed bug when update profile with invalid ID, will return wrong message
  src/main/java/domain/profile/CustomerProfileService.java
  src/main/java/infrastructure/CustomerProfileResources.java
  src/main/java/infrastructure/result/RequireUserResult.java
  src/main/java/infrastructure/result/UpdateCustomerProfileResult.java
  src/main/java/infrastructure/result/UpdateListingResult.java
  src/test/java/domain/profile/CustomerProfileServiceTest.java
  src/test/java/infrastructure/CustomerProfileResourcesIT.java
Labels: bug
